<div class="row" *ngIf="!editMode">
    <div class="col-sm-4">
        {{ gig.talk }}
    </div>
    <div class="col-sm-3">
        {{ gig.speaker }}
    </div>
    <div class="col-sm-2">
        {{ gig.event }}
    </div>
    <div class="col-sm-2">
        {{ gig.date }}
    </div>
    <div class="col-sm-1">
        <button type="button" (click)="intoEditMode()" class="btn btn-info">Edit</button>
    </div>
</div>
<div class="row" *ngIf="editMode">
    <form class="form-inline">
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="talk">Talk:</label>
                <input type="text" class="form-control" [(ngModel)]="gig.talk" id="talk" required name="talk"/>
            </div>
            <div class="col-sm-2">
                <label for="speaker">Speaker:</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="gig.speaker" id="speaker" required name="speaker"/>
            </div>
            <div class="col-sm-2">
                <label for="event">Event:</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="gig.event" id="event" required name="event"/>
            </div>
            <div class="col-sm-2">
                <label for="date">Date:</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="gig.date" id="date" required name="date"/>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-success" (click)="editGig()">Create</button>
                <button type="button" class="btn btn-danger" (click)="revertEditMode()">Reset</button>
            </div>
        </div>
    </form>
</div>
